.c3 {
  color: #333;
}

.c4 {
  color: #444;
}

.c6 {
  color: #666;
}

.c9 {
  color: #999;
}

.c0 {
  color: #000;
}

.c025 {
  color: rgb(0 0 0 / 25%);
}

.c040 {
  color: rgb(0 0 0 / 40%);
}

.c045 {
  color: rgb(0 0 0 / 45%);
}

.c050 {
  color: rgb(0 0 0 / 50%);
}

.c60 {
  color: rgb(0 0 0 / 60%);
}

.c065 {
  color: rgb(0 0 0 / 65%);
}

.c080 {
  color: rgb(0 0 0 / 80%);
}

.c085 {
  color: rgb(0 0 0 / 85%);
}

.c09 {
  color: rgb(0 0 0 / 90%);
}

.c191c1c {
  color: #191c1c;
}

.c16d2d7 {
  color: var(--text-color);
}

.cfff {
  color: #fff;
}

.bgfff {
  background-color: #fff;
}

.bgf5f8fa {
  background-color: var(--main-bgcolor);
}
